.panda-bg-ingo{
    background-color:#fceae8 ;
}

.btn-btn-panda-color{
    background-color:#ffa500;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}


#subscriber{
    height: 300px;
    background-color: #fceae8;
    border-radius: 10px;
}

#watch-bag-shoes img{
    width: 100px;
}